# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Frontend
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp
error.txt
GeneratePassword.java
GeneratePassword.class

# Office
*.docx